@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-color: #FAF7F0;
  color: #1D4153;
  font-family: var(--font-body), sans-serif;
}

.font-display {
  font-family: var(--font-display), serif;
}
